* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

html {
 overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: initial;
}

p {
  margin: 0;
}

img {
  display: block;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  outline: none;
}

//@font-face {
//  font-display: swap;
//  font-weight: 400;
//  font-family: "Roboto";
//  font-style: normal;
//  src: url(./public/fonts/Roboto-Regular.woff) format('woff');
//}