.login-form {
  width: 100%;
  max-width: 500px;
  min-width: 220px;
  margin: auto;

  .wrapper-logo {
    cursor: pointer;

    &__img {
      width: 100%;
    }
  }

  &__input-wrapper {
    position: relative;

    &__text {
      position: absolute;
      top: -8px;
      left: 30px;
      background: linear-gradient(ghostwhite, #fff);
      color: gray;
      letter-spacing: 1px;
    }

    &_element {
      width: 100%;
      display: block;
      padding: 20px;
      margin: 20px 0 20px 0;
      border-radius: 8px;
      border: 2px solid gray;
      outline: none;
    }

    &_element:hover ~ &__text {
      color: blue;
    }

    &_element:hover {
      border: 2px solid blue;
    }
  }

  &__btn {
    cursor: pointer;
    width: 100%;
    height: 60px;
    background: #000;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    transition: opacity .3s linear;
    color: #fff;

    &:hover {
      opacity: .6;
    }
  }
}